# Hugging Face Token (Optional - Recommended for faster/authenticated downloads)
HF_TOKEN=your_huggingface_token_here

# Google Gemini API (Required for Stage 2 Structuring)
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=your_gemini_model_name_here

# OpenAI Compatible Endpoint (e.g. OpenRouter)
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=your_openai_model_name_here

# LLM Parameters
MAX_TOKENS=4000
MULTI_CALL_ENABLED=false
MULTI_CALL_COUNT=3

#For models with reasoning enable reasoning from openrouter
ENABLE_REASONING=false

#For the heirchial intent extraction with the example prompt of intent extraction in prompt.json
INTENT_EXTRACTION_MODE=true


# Parsing Configuration
PARSING_WORKERS=1

# Docker / Python Configuration
PYTHONUNBUFFERED=1
